<div class="form-group" >
  <label for="title" >Title</label>
  <p></p>
  <input required value = "<%= article.title %>" type="text" name="title" id="title" class="form-control">
</div>
<p></p>

<div class="form-group" >
  <label for="description" >Description</label>
  <p></p>
  <textarea name="description" id="description" class="form-control" ><%= article.description %></textarea>
</div>
<p></p>

<div class="form-group" >
  <label for="markdown">Markdown</label>
  <p></p>
  <textarea required name="markdown" id="markdown" class="form-control" ><%= article.markdown %></textarea>
</div>
<p></p>

<a href="/" class="btn btn-secondary">Cancel</a>

<button type="submit" class="btn btn-primary">Save</button>